.header_button .webix_button .webix_icon_btn,
.header_button .webix_button
{
    color: white;
    background: transparent;
}
.header_button .webix_button:hover {
    background-color: rgb(101, 118, 133);
}
.header_button .webix_button:focus {
    background-color: rgb(101, 118, 133);
}
.header_label{
    background-color: rgb(101, 118, 133);
    color: white;
    padding: 5px;
}
.mainmenu_label {
    font-family: "Webix Material Icons";
    margin: 0px 10px;
    color: rgb(66, 212, 29);
    text-align: center;
    background-color: rgb(238, 238, 238);
}
.mainmenu_spaser,
.mainmenu_list {
    background-color: rgb(238, 238, 238);
}
.header {
    background-color: rgb(101, 118, 133);
}
.footer {
    text-align: center;
}
.datatable_scrollbar_x {
    overflow-x: hidden;
}